@import url('https://fonts.googleapis.com/css?family=Cinzel|EB+Garamond|Indie+Flower|Josefin+Sans|Oswald');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Mukta+Mahee');

/*-----------------------------------TINY SCREENS----------------------------------*/

@media screen and (max-width: 200px){
    
    .#main_menu_logo{
        width: 100px;
    }
    
}

/*---------------------------------SMALL SCREEN-----------------------------*/

@media screen and (max-width: 800px){
    


/*------------------------------MAIN MENU BOX------------------------*/
    
    .main_menu_box{
        height: 80px;
    }
    #main_menu_logo{
        width: 250px;
    }
    
    
/*---------------------------   NAVIGATION CONTAINER------------------*/
    
    #navigation_container{
        font-size: 1.5vw;
    }
    
/*------------------------------FOOTER------------------------------*/
    
    .footer{
        font-size: 15px
    }
    
    #footer_news_header{
        font-size: 25px;
    }
    #footer_news_content{
        font-size: 17px;
    }
    
    #contact_info_header{
        font-size: 25px;
    }
    #contact_info_content{
        font-size: 17px;
    }
}


/*--------------------------LARGE SCREEN-----------------------------*/

@media screen and (min-width: 800px){
    #picture_container{
        height: 400px;
    }
    
/*-------------------------------------MAIN MENU BOX------------------------------------*/
    
    .main_menu_box{
        height: 100px;
    }
    #main_menu_logo{
        width: 300px;
    }
    #main_menu_member{
        font-size: 20px;
    }
    #main_menu_login{
        font-size: 20px;
    }
    
/*-----------------------------NAVIGATION CONTAINER---------------------------*/
    
    #navigation_container{
        font-size: 1.5vw;
    }
    
/*-------------------------------------------FOOTER-------------------------*/
    
    .footer{
        font-size: 20px;
    }
    
    #footer_news_header{
        font-size: 35px;
    }
    #footer_news_content{
        font-size: 23px;
    }
    
    #contact_info_header{
        font-size: 35px;
    }
    #contact_info_content{
        font-size: 23px;
    }
}

body{
    background-color: #f9f7f6;
    font-family: 'Mukta Mahee','fantasy';
}

/*----------------------------STATIC MAIN MENU-----------------------------*/

div.main_menu_box{
    width: 100%;
    position: fixed;
    z-index: 4;
    background-color: #f9f7f6;
    top: 0px;
    border-bottom: 1px solid #23353B;
}
#main_menu_logo{
    position: absolute;
    left:50%;
    margin-left: -45vw;
}
#main_menu_logo:hover{
    cursor: pointer;
}
#main_menu_member{
    float: right;
    color: #23353B;
    font-family: 'Oswald','fantasy';;
    margin-top: 30px;
    padding-right: 10px;
    border-right: 1px solid black;
}
#main_menu_login{
    float: right;
    color: #23353B;
    font-family: 'Oswald','fantasy';;
    padding-right: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    padding-left: 10px;
}
#main_menu_login:hover{
    cursor: pointer;
}
#main_menu_member:hover{
    cursor: pointer;
}

/*-----------------------------------MAIN CONTENT CONTAINER-----------------------------*/

#main_container{
    width: 100%;
    height: 100%;
    background-color: #f9f7f6;
}

/*------------------------------ADULT PROGRAMS HEADER----------------------*/

#adult_programs_header_container{
    margin-top: 100px;
    display: block;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #23353B;
    color: #23353B;
}
#adult_programs_header{
    text-align: center;
    color: #23353B
    margin: 0px;
    padding: 0px;
    font-size: 40px;
}
#adult_programs_description{
    margin-right: 20vw;
    margin-left: 20vw;
    padding: 10px;
    font-size: 17px;
    text-align: left;
}

/*--------------------------------GENERAL CLASS HEADER AND DESCRIPTION--------------------------------*/

.class_type_header{
    font-size: 40px;
    background-color: #f9f7f6;
    color: #23353B;
    text-align: left;
}
.class_type_description{
    background-color: #f9f7f6;
    color: #23353B;
    text-align: left;
}

/*---------------------------GROUP CLASSES AND DRILL PLAY HEADERS AND DESCRIPTIONS------------------------------------*/

#tennis_class_header_description_container{
    width: 100%;
    display: table; 
}

#group_classes_header_description_container{
   
}
#group_classes_header{
    margin-left: 7vw;
    margin-right: 7vw;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: #abd2c8;
    text-align: center;
}
#group_classes_description{
    margin-left: 7vw;
    margin-right: 7vw;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: #abd2c8;
    padding-top: 1vw;
    overflow: hidden;
}
/*----------------------------TENNIS LEVEL NAVIGATION----------------------*/

#navigation_container{
    width: 100%;
    display: table;
    border: 1px solid #23353B;
}

#adult_group_classes_nav{
    background-color: #f9f7f6;
    text-align: center;
    font-size: 20px;
}
#adult_group_classes_nav_ul{
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
.adult_group_classes_nav_li{
    display: inline-block;
    margin: 0px;
    padding: 2px;
}
.adult_group_classes_nav_li:hover{
    background-color: #23353B;
    color: #f9f7f6;
    cursor: pointer;
}

/*----------------------------GROUP CLASSES HEADER PRE TENNIS LEVELS-----------------------*/

#group_classes_header_pre_tennis_levels_container{
    width: 100%;
    margin-top: 20px;
}
#group_classes_header_pre_tennis_levels{
    color: #f9f7f6;
    background-color: #23353B;
    font-size: 60px;
    border: 2px solid #23353B;
    text-align: center;
}

/*----------------------------DRILL AND PLAY CLASSES HEADER PRE TENNIS LEVELS-----------------------*/

#drill_play_header_pre_tennis_levels_container{
    width: 100%;
    margin-top: 20px;
}
#drill_play_header_pre_tennis_levels{
    background-color: #23353B;
    font-size: 60px;
    border: 1px solid #23353B;
    text-align: center;
    color: #f9f7f6;
}

/*---------------------------------------TENNIS LEVELS AND PRICING AND DROP DOWNS -------------------------------*/

.tennis_levels_holder{
    width: auto;
    color: #23353B;
}
.tennis_level_container{
    width: 75%;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(171,210,200,.4);
}

.level_description_container{
    width: 70%;
    display: inline-block;
}
.tennis_level_header{
    font-style: oblique;
    font-size: 30px;
    text-align: left;
    width: 70%;
}
.level_cost{
    font-size: 20px;
    padding-right: 5vw;
    width: 70%;
}
.class_number_and_length{
    font-size: 20px;
    padding-right: 5vw;
    width: 70%;
}
.tennis_level_description{
    text-align: left;
    font-size: 17px;
    width: 70%;
}

.tennis_level_sessions{
    text-align:center;
    font-size: 20px;
}

.tennis_sessions_title{
    text-align: center;
    font-size: 30px;
}

/*------------------------------SELECT THE DAY CLASSES----------------------------------------*/

.select_day_container{
    
}

.select_day_text{
    font-size: 30px;
    text-align: center;
    margin-left: 70%;
}

.monday_div{
    text-align: center;
    border: 1px solid black;
    margin-left: 70%;
}
.monday_div:hover{
    cursor: pointer;
    background-color: #abd2c8;
}

.tuesday_div{
    text-align: center;
    border: 1px solid black;
    margin-left: 70%;
}
.tuesday_div:hover{
    cursor: pointer;
    background-color: #abd2c8;
}

.wednesday_div{
    text-align: center;
    border: 1px solid black;
    margin-left: 70%;
}
.wednesday_div:hover{
    cursor: pointer;
    background-color: #abd2c8;
}

.thursday_div{
    text-align: center;
    border: 1px solid black;
    margin-left: 70%;
}
.thursday_div:hover{
    cursor: pointer;
    background-color: #abd2c8;
}

.friday_div{
    text-align: center;
    border: 1px solid black;
    margin-left: 70%;
}
.friday_div:hover{
    cursor: pointer;
    background-color: #abd2c8;
}

.saturday_div{
    text-align: center;
    border: 1px solid black;
    margin-left: 70%;
}
.saturday_div:hover{
    cursor: pointer;
    background-color: #abd2c8;
}

.sunday_div{
    text-align: center;
    border: 1px solid black;
    margin-left: 70%;
}
.sunday_div:hover{
    cursor: pointer;
    background-color: #abd2c8;
}


/*-----------------------GROUP CLASSES BEGINNER 1----------------*/

#group_classes_beginner_1_container{
    display: table;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2px;
}

#beginner_1_level_description_container{
    float:left;
}
#beginner_1_header{
    
}
#beginner_1_description{
        
}
#group_classes_beginner_1_sessions{
    
}

#group_classes_beginner_1_monday{
    margin-top: 5px;
}
#group_classes_beginner_1_tuesday{
    margin-top: 5px;
}
#group_classes_beginner_1_wednesday{
    margin-top: 5px;
}
#group_classes_beginner_1_thursday{
    margin-top: 5px;
}
#group_classes_beginner_1_saturday{
    margin-top: 5px;
}
#group_classes_beginner_1_sunday{
    margin-top: 5px;
}

/*-------------GROUP CLASSES BEGINNER 2----------------*/

#group_classes_beginner_2_container{
    display: table;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2px;
}

#beginner_2_level_description_container{
    float: left;
}
#beginner_2_header{
    
}
#beginner_2_description{
    
}
#group_class_beginner_2_sessions{
    
}

#group_classes_beginner_2_monday{
    margin-top: 10px;
}
#group_classes_beginner_2_tuesday{
    margin-top: 5px;
}
#group_classes_beginner_2_wednesday{
    margin-top: 5px;
}
#group_classes_beginner_2_thursday{
    margin-top: 5px;
}
#group_classes_beginner_2_saturday{
    margin-top: 5px;
}
#group_classes_beginner_2_sunday{
    margin-top: 5px;
}

/*--------------------GROUP CLASSES ADVANCED BEGINNER-------------*/

#group_classes_advanced_beginner_container{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2px;
    display: table;
}

#advanced_beginner_level_description_container{
    float: left;
}
#advanced_beginner_header{
   
}
#advanced_beginner_description{
    
}

#group_classes_advanced_beginner_monday{
    margin-top: 10px;
}
#group_classes_advanced_beginner_tuesday{
    margin-top: 5px;
}
#group_classes_advanced_beginner_wednesday{
    margin-top: 5px;
}
#group_classes_advanced_beginner_thursday{
    margin-top: 5px;
}
#group_classes_advanced_beginner_saturday{
    margin-top: 5px;
}
#group_classes_advanced_beginner_sunday{
    margin-top: 5px;
}

/*--------------------GROUP CLASSES INTERMEDIATE 1 ------------------*/

#group_classes_intermediate_1_container{
    display: table;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
}

#intermediate_1_level_description_container{
    float: left;
}
#intermediate_1_header{
    
}
#intermediate_1_description{
    
}

#group_classes_intermediate_1_monday{
    margin-top: 10px;
}
#group_classes_intermediate_1_tuesday{
    margin-top: 5px;
}
#group_classes_intermediate_1_wednesday{
    margin-top: 5px;
}
#group_classes_intermediate_1_thursday{
    margin-top: 5px;
}
#group_classes_intermediate_1_saturday{
    margin-top: 5px;
}
#group_classes_intermediate_1_sunday{
    margin-top: 5px;
}

/*-----------------------------GROUP CLASSES ADVANCED INTERMEDIATE---------------*/

#group_classes_advanced_intermediate_container{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 3vw;
    display: table;
}

#advanced_intermediate_level_description_container{
    float: left;
}
#advanced_intermediate_header{
    
}
#advanced_intermediate_description{
    
}

#group_classes_advanced_intermediate_day_container{
    float: left;
}

#group_classes_advanced_intermediate_monday{
    margin-top: 10px;
}
#group_classes_advanced_intermediate_tuesday{
    margin-top: 5px;
}
#group_classes_advanced_intermediate_wednesday{
    margin-top: 5px;
}
#group_classes_advanced_intermediate_thursday{
    margin-top: 5px;
}
#group_classes_advanced_intermediate_saturday{
    margin-top: 5px;
}
#group_classes_advanced_intermediate_sunday{
    margin-top: 5px;
}

/*-------------------------------------DRILL AND PLAY ADVANCED BEGINNER------------------------------*/

#drill_play_advanced_beginner_container{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2px;
    display: table;
}

#drill_play_advanced_beginner_saturday{
    margin-top: 10px;
}
#drill_play_advanced_beginner_sunday{
    margin-top: 5px;
}

/*----------------------------DRILL AND PLAY INTERMEDIATE 1-----------------------------*/

#drill_play_intermediate_1_container{
    display:table;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2px;
}

#drill_play_intermediate_1_saturday{
    margin-top: 10px;
}
#drill_play_intermediate_1_sunday{
    margin-top: 5px;
}

/*---------------------------DRILL AND PLAY ADVANCED INTERMEDIATE--------------------*/

#drill_play_advanced_intermediate_container{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
    display: table;
}

#drill_play_advanced_intermediate_saturday{
    margin-top: 10px;
}
#drill_play_advanced_intermediate_sunday{
    margin-top: 5px;
}

/*----------------------------FOOTER----------------------------------*/

.footer{
    display: table;
    background-color: #23353B;
    width: 100%;
    text-align: center;
}
.footer_item{
    color: #f9f7f6;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}
.footer_item:hover{
    cursor: pointer;
}


